.app {
    min-height: 100vh;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: bisque;
}


.siroko{
  width: 100%;
}

.sredina {
    text-align: center;
}

.desno {
    text-align: right;
}

.akcije {
    white-space: nowrap;
    width: 30%;
}

.loading-spinner-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}



.nav-brand {
    cursor: pointer;
}
.nav-brand:hover{
    transform: translate(-2px,-2px);
    text-shadow: 2px 2px 4px white;
}

.slika {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
